@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

/*
:root{
--darkblue:#001264;
--Yellow:#ebdb00;
--Clear:white;
--Red:#b10000;
--font-padrao:"Oswald", sans-serif;;
}
*/

$Darkblue:#001264;
$Yellow:#ebdb00;
$Clear:#ffffff;
$Red:#b10000;
$font:"Oswald", sans-serif;

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
    font-family: $font!important;
    font-size: 18px !important;
    background-color: white;
}

.navbar{
  background: $Darkblue;
  height: 80px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.747);
  z-index: 100;
  .nav-item{
    .nav-link{
      color: $Clear;
      font-size: 20px;
      margin: 0px 10px 0px 10px;
      transition: 0.5s all;
    }
    .nav-link:hover{
      color: $Yellow;
    }
  }

}

.footer{
  background-color: $Darkblue;
  height: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.747);
  z-index: 100;
  p{
    padding-top: 15px;
    color: $Clear;
    text-align: center;
  }
}

.show{
  background-color: $Darkblue;
  width: 100%;
  margin-top: 10px;
  z-index: 10;
}

.container-flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.title{
  color: $Darkblue;
  font-size: 30px;
  letter-spacing: 1.5px;
  border: 1px solid $Darkblue;
}
.item{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.692);
}
hr{
  color: $Darkblue;
}
















